.users-content{width:90%;}
table tr th, table tr td{font-size: 1.2rem;}
.row{ margin:20px 20px 20px 20px;width: 100%;}
.glyphicon{font-size: 20px;}
.glyphicon-plus{float: right;}
a.glyphicon{text-decoration: none;}
a.glyphicon-trash{margin-left: 10px;}
h1{
    text-align:center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.message{
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}